.login-box
  padding 10px
  background-color white
  .login-button
    width 170px
    height 42px
    background inherit
    background-color rgba(16, 142, 233, 1)!important
    font-size 14px!important
    border-radius 4px!important
    padding 15px 40px!important
    margin 20px 0 20px 50%!important
    transform translateX(-50%)
    color white
.btn.active,
.btn:active,
.btn:hover
  color white!important
.reader-box
  display flex
  flex-flow row nowrap
  justify-content center
  >span
    height 35px
    line-height 1.5
    color #FF6600
    font-size 15px
  >label
    font-size 13px
    width 100px
    >input
      float left
      margin-top 3px!important
.remember-box
  font-size 13px
.finish-box
  background-color white
  >p
    font-size 13px
    text-align center
  .check-group
    width 170px
    height 170px
    border-radius 10px
    position relative
    top 20px
    left 50%
    transform translateX(-50%)
    background-color rgba(0,0,0,.5)
    color white
    >h1
      color white
      font-size 22px
      text-align center
      margin 5px auto
    >span
      font-size 70px
      margin-top 20px
      margin-left 50%
      transform translateX(-50%)
