.index-title
  font-size 20px
  margin 20px auto 5px
  text-align center
  font-weight normal
.point-group
  width 100%
  display flex
  flex-flow row wrap
  border:1px solid #eee ;/*no*/
  >div
    width 50%
    height 50px
    box-sizing border-box
    &:first-child
      border-right:1px solid #eee ;/*no*/
      border-bottom:1px solid #eee ;/*no*/
    &:last-child
      border-left:1px solid #eee ;/*no*/
      border-top:1px solid #eee ;/*no*/
    >img
      width 30px
      height 30px
      float left
      margin 10px 20px
    >span
      font-size 14px
      font-weight bold
      line-height 50px
.index-button
  background-color rgba(255, 102, 0, 1)!important
  color white!important
  font-size 14px!important
  border-radius 4px!important
  padding 15px 40px!important
  margin 20px 0 20px 50%!important
  transform translateX(-50%)
