.search-box
  background-color #f4f4f4
  .select-group
    background-color white
    padding 20px 8px
    .title
      font-size 20px
      text-align center
      margin-bottom 10px
      position relative
      &:after
        content ''
        position absolute
        top 200%
        left 0
        width 100%
        height: 1px;/*no*/
        background-color #ccc
    .subtitle
      position absolute
      font-size 18px
      width 230px
      text-align center
      background-color white
      margin 0
      padding 0 10px
      display inline
      left 50%
      transform translateX(-50%)
    .title-tip
      font-size 12px
      margin-top 50px
      margin-bottom 20px
      text-align center
      width 100%

  .field-group-label
    padding 0!important
    border-color rgba(16, 142, 233, 1)!important
    &:first-child
      border-radius 6px!important
      border-top-right-radius 0!important
      border-bottom-right-radius 0!important
    &:last-child
      border none!important
  select
    &.field
      width 70px
      border none
      margin 0
      padding 3px 0 3px 3px
      font-size 12px
      background-color white
      background-position right 4px center
    &:hover
      background-color white
  input[type=text]
    &.field
      flex 0 0 auto
      width 238px
      border-color rgba(16, 142, 233, 1)
      border-left none
      border-right none
      font-size 12px!important
      padding 15px 0!important
    &:hover
      border-color rgba(16, 142, 233, 1)!important
  .search-btn
    background-color rgba(16, 142, 233, 1)
    color white
    width 50px
    text-align center
    height 46.35px
    line-height 3.6
    font-size 12px
    border-radius 6px!important
    margin-top -1px
    border: 1px solid rgb(16, 142, 233);
    border-top-left-radius 0!important
    border-bottom-left-radius 0!important
    float right
  .search-history
    display flex
    flex-flow row wrap
    margin 20px 0
    >span
      font-size 12px
      margin 0 11px
  .search-condition
    p
      font-size 13px
      margin-bottom 10px
    .condition
      display flex
      flex-flow row nowrap
      >div
        width 50%
        display flex
        flex-flow row nowrap
        &:last-child
          margin-left 10px
        >span
          font-size 12px
        >input,
        >select
          width 120px
          height 22px
          border-color #108ee9
          border-radius 3px
          font-size 12px!important
          padding 0 4px!important
          margin-bottom 0!important
  .search-result
    margin-top 20px
    background-color white
    .result-content
      border-top 1px solid transparent
      >div
        width 345px
        -webkit-box-sizing: border-box
        -moz-box-sizing: border-box
        box-sizing: border-box
        border-radius 4px
        -webkit-box-shadow: 0 0 4px 1px #aaa
        -moz-box-shadow: 0 0 4px 1px #aaa
        box-shadow: 0 0 4px 1px #aaa
        margin 15px
        overflow hidden
        >img
          float left
          width 65px
          height 65px
          margin 10px
        .info-box
          float left
          width 230px
          height 75px
          padding 10px 0
          span
            font-size 14px
          p
            font-size 13px
            color #999
            margin 0
        .bottom-box
          float left
          width 100%
          height 36px
          border-top 1px solid #aaa
          position relative
          .point
            width 10px
            height 10px
            margin 13px
            float left
            border-radius 10000px
            background-color rgb(255,170,0)
          >p
            font-size 13px
            margin 0
            line-height 36px
            >span
              color rgb(255,170,0)
          >a
            position absolute
            top 50%
            right 15px
            transform translateY(-50%)
            margin 0
            font-size 13px